alabaster==0.7.10
asn1crypto==0.22.0
astroid==1.5.3
Babel==2.4.0
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.3
cryptography==1.9
docutils==0.13.1
gj==0.1.1
idna==2.5
imagesize==0.7.1
isort==4.2.15
Jinja2==2.9.6
lazy-object-proxy==1.3.1
MarkupSafe==1.0
mccabe==0.6.1
paramiko==2.1.2
pkginfo==1.4.1
pluggy==0.4.0
py==1.4.34
pyasn1==0.2.3
pycparser==2.17
Pygments==2.2.0
pylint==1.7.1
pytest==3.1.1
pytz==2017.2
requests==2.17.3
requests-toolbelt==0.8.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.6.2
sphinxcontrib-websupport==1.0.1
tox==2.7.0
tqdm==4.14.0
twine==1.9.1
typing==3.6.1
urllib3==1.21.1
virtualenv==15.1.0
wrapt==1.10.10
