name: integration

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:

  checks:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        check: [bluecheck, doc8, docs, isortcheck, rstcheck]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Setup tox
      run: |
        pip install --upgrade pip
        pip install tox
    - name: Run checks with tox
      run: |
        tox -e ${{ matrix.check }}

  tests:
    needs: checks
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [3.6, 3.7, 3.8, 3.9]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup tox
        run: |
          pip install --upgrade pip
          pip install tox
      - name: Test with tox
        run: tox -e py
